@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    font-family: 'Muli', sans-serif;
}

.pass-container {
	background-color: #23235B;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
}